@* OverviewPropComponent *@
<p>
    @((movieDetails?.Overview != null) ? movieDetails.Overview
        : "Overview Summary Unavailable")
</p>
@code {
[Parameter]
public MovieDetails? movieDetails { get; set; }
}
