@using BlazorMovie.Models.Credits
@* PersonBirthdateComponent *@

<p><strong>Birthdate:</strong> @DisplayedBirthdate</p>

@code {
    [Parameter]
    public DateOnly? Birthdate { get; set; }
    private string DisplayedBirthdate => Birthdate?.ToString("MMMM dd, yyyy") ?? "N/A";
}
