
/* property display badges */
.releaseDate, .runtime, .rating  {
    cursor: default;
}

.releaseDate {
    background-color: var(--sjw-secondary-color);
}

.runtime {
    background-color: var(--sjw-golden-color);
    color: var(--sjw-secondary-color);
    font-weight: 900;
}

.rating {
    background-color: var(--sjw-primary-color);
}

/* END property display badges */
