.footerStyle {
    background-color: var(--sjw-primary-color);
    color: antiquewhite;
}
.footerStyle a{
    color: var(--sjw-primary-color);
}
.footerStyle   a:hover{
    color: var(--sjw-secondary-color);
}
.footerStyle .bi{
    color: var(--sjw-golden-color);
    font-size: 2.5rem;
    padding-inline-end: 0.5rem;
}
    .bi a:hover {
        color: var(--sjw-secondary-color);
    }
