<div class="p-3 footerStyle" data-bs-theme="dark">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-3 text-center align-items-center">
            <div class="col text-md">
                <div class="row">
                    <div class="col-12">

                        <img src="img/White_logo_rev.png" height="60" />
                    </div>
                    @* <div class="col-12">
                    &copy; 2023 SJ Wonder
                    </div> *@

                </div>
            </div>
            <div class="col text-center">
                <img src="img/MovieProWonderLogo680.png" height="50" />
                <div class="d-flex align-items-center justify-content-center flex-wrap gap-1">
                    Powered by<a href="https://www.themoviedb.org/">
                        <img src="img/TMDBLogo.svg" height="10" />
                    </a>
                </div>
            </div>
            <div class="col-md-end">
                <div class="row">
                    <div class="col-12 me-2">
                        <a href="www.linkedin.com/in/shellywonder" target="_blank" title="SJ's LinkedIn">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="https://github.com/ShellyWonder" target="_blank" title="SJ's GitHub">
                            <i class="bi bi-github"></i>
                        </a>
                        @* <a href="https://www.instagram.com/">
                        <i class="bi bi-instagram"></i>
                        </a> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
