<nav class="navbar navbar-expand-lg navStyle" data-bs-theme="dark">
    <div class="container-fluid">
        <a href="/" class="me-3"><img src="/img/smallLogo.png" height="50" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBM" aria-expanded="false" aria-label="toggle-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarBM">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    <i class="bi bi-home"></i>
                        <span>Popular Movies</span>
                    </NavLink>
                </li> 
                <li class="nav-item">
                    <NavLink class="nav-link" href="/now_playing">
                    <i class="bi bi-film"></i>
                        <span>Now Playing</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/top_rated">
                    <i class="bi bi-ticket-perforated"></i>
                    <span>Top Rated</span>
                    </NavLink>
                </li>
                 <li class="nav-item">
                    <NavLink class="nav-link" href="/upcoming">
                    <i class="bi bi-projector"></i>
                    <span>Coming Soon</span>
                    </NavLink>

                </li>

            </ul>
        <SearchComponent />
        
        <SearchResultsComponent @ref="searchResultsModal" SearchResults="@searchResults"/>
        </div>
       
    </div>
</nav>

@code {
    private IEnumerable<MovieDetails>? searchResults;
    private SearchResultsComponent? searchResultsModal;

    private void ShowSearchResultsModal(IEnumerable<SearchModel> results)
    {
        searchResults = results
             .Select(sm => sm.MovieDetails)
             .Where(md => md != null) // Exclude null MovieDetails
             .Cast<MovieDetails>(); // Cast to non-nullable MovieDetails

        searchResultsModal?.ShowModal();
    }
}
