
.dropdownSelect {
    background-color: var(--sjw-font-color) !important;
}
/*dropdown reset*/
.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}
