@* PersonSearchResultsComponent modal *@
@using BlazorMovie.Components.UIComponents.CreditComponents
@using BlazorMovie.Models.Credits
@using BlazorMovie.Models.Search

@inject NavigationManager _navManager

<div class="modal"tabindex="-1">
   <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-body">
                @if (searchPersonResults?.Results is not null && searchPersonResults.Results.Any())
                {
                    @foreach (var person in searchPersonResults.Results)
                    {
                        <PersonCardComponent Person="" SubText/>
                    }
                }
                else
                {
                    <p>No matching people found.</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
           </div>
      </div>
   </div>
</div>

@code {
    [Parameter]
    public PageResponse<PersonSearchResult>? searchPersonResults { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public Person? person { get; set; } 

    [Parameter]
    public string SubText { get; set; } = string.Empty;

    private void ViewPersonDetails(int id)
    {
        _navManager.NavigateTo($"/persondetails/{id}");
    }
}
