@* MovieDetailsPage *@
@page "/movie/{id:int}"
@using System.Linq;
@using BlazorMovie.Components.UIComponents.PropertyComponents
@using BlazorMovie.Services
@using BlazorMovie.Components.UIComponents
@using BlazorMovie.Components.UIComponents.CreditComponents
@inject TMDBClient TMDB

@*movie details*@
@if (movieDetails is null)
{
    //build out placeholder code
    <p><em>Loading Movie Details. . .</em></p>
}
else
{
    <PageTitle>@movieDetails?.Title</PageTitle>
    <!--Page Banner-->
    <div class="hero-bg" style="@($"--bg-img:url(https://image.tmdb.org/t/p/original/{movieDetails?.BackdropPath})")">
        <div class="hero-container-xxl d-flex flex-column flex-md-row">

            <!--title content, tagline, badges and weblinks -->
            <div class="flex-grow-1 d-flex align-items-center justify-content-center justify-content-md-end">
                <HeroBadgesComponent MovieDetails="movieDetails" />
            </div>

            <!-- poster -->
            <div class="order-last order-md-first d-flex justify-content-center">
                <PosterPropComponent MovieDetails="movieDetails" />
            </div>
        </div>
    </div>
    <div class="container-xxl">
        <div class="overview d-flex flex-column">
            <!-- Summary of Plot -->
            <OverviewPropComponent movieDetails="movieDetails" />

            <div class="row mb-2">
                <!-- Status and Revenue -->
                <div class="col-6 text-start">
                    <StatusPropComponent MovieDetails="movieDetails" />
                </div>
                <div class="col-6 text-end">
                    <RevenuePropComponent MovieDetails ="movieDetails" />   
                </div>
            </div>

            <div class="row mb-2">
                <!-- Language and Budget -->
                <div class="col-6 text-start">
                    <LanguagePropComponent MovieDetails ="movieDetails"/>
                </div>
                <div class="col-6 text-end">
                    <BudgetPropComponent MovieDetails ="movieDetails"/>
                </div>
            </div>

            <!-- Genres -->
            <div class="row mb-2">
                <div class="col-12 text-center">
                    <strong class="me-2">Genres:</strong>
                    <GenreListComponent Genres="movieDetails?.Genres?.ToList()" MaxGenresPerRow="3" />
                </div>
            </div>

        </div>
    </div>
    <hr/>

    <div class="row">
        <MainCreditComponent  MovieId="Id"/>
    </div>
    <BackToTopComponent />

}

@code {

    [Parameter]
    public int Id { get; set; }
    
    private MovieDetails? movieDetails;

    protected override async Task OnInitializedAsync()
    {
        movieDetails = await TMDB.GetMovieDetailsAsync(Id);
    }
    
}   
