/* BackToTopComponent.razor.css */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--sjw-secondary-color);
    color: var(--sjw-golden-color);
    border: solid;
    border-radius: 20%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.7rem;
    display: none; /* Initially hidden */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}
    /* Ensure button appears when .show class is added */
    .back-to-top.show {
        display: flex !important; /* Ensure it's visible */
    }

/* Hide on Mobile (max-width: 768px for tablets and phones) not generally necessary on touch screens*/
@media (max-width: 768px) {
    .back-to-top {
        display: none !important;
    }
}
